.HandleResizer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: var(--color-border);
}

.HandleResizer:hover,
.HandleResizer:active {
  color: var(--color-border-hover);
}
