.Table {
  border-collapse: collapse;
}

.Table-headerRow, .Table-row {
border-bottom: 1px solid var(--color-border);
}

.Table-headerRow{

    background-color: var(--color-underpaper);
}

.Table-row{
background-color: var(--color-paperwhite);
}

.Table-row:last-of-type{
border-bottom: 1px solid transparent;

}

.Table-headerCell {
  height: 20px;
  font-weight: 400;
  color: var(--color-textSecondary);
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.Table-headerCell, .Table-cell {
    padding: 5px;
}